<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="medicine.android.com.medicine">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/d"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="Medicine"
            android:theme="@style/SplashTheme">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

                    <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.SplashActivity" />
        </activity>
        <activity
            android:name=".Orders"
            android:label="@string/title_activity_orders"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.MainActivity" />
        </activity>
        <activity
            android:name=".Cart"
            android:label="CART"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.MainActivity" />
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.MainActivity" />
        </activity>
        <activity
            android:name=".Upload"
            android:label="@string/title_activity_upload"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.MainActivity" />
        </activity>
        <activity
            android:name=".ListDown"
            android:label="@string/title_activity_list_down"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.MainActivity" />
        </activity>
        <activity
            android:name=".Gallery_Upload"
            android:label="Gallery"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="medicine.android.com.medicine.MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="Medicine"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetLocation" />

        <service
            android:name=".GeocodeAddressIntentService"
            android:exported="false" />

        <meta-data
            android:name="AA_MODELS"
            android:value="medicine.android.com.medicine.IMAGE,medicine.android.com.medicine.IMAGE2" />
        <meta-data android:name="AA_DB_NAME" android:value="Pickrand.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>